@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
 
}

body {
  background: var(--bg-color) !important;
}

:root {
  --main-color: #4B3EC5;
  --bg-color: #05071E;
  --text: #868692;
  --border-color: rgba(255, 255, 255, 0.13);
}

h1 {
  color: white !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}

h2 {
  color: white !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}

p {
  color: var(--text) !important;
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

a {
  font-size: 14px !important;
  text-decoration: none !important;
  color: var(--text) !important;
}

a:hover {
  color: var(--main-color) !important;
  transition: 0.5s !important; 
}

.primary-button {
  padding: 4px 12px !important;
  background-color: var(--main-color) !important;
  border-radius: 16px !important;
  color: white !important;
  border: none !important;
}

.secondary-button {
  padding: 4px 12px !important;
  background-color: white;
  border: 1px solid var(--main-color) !important;
  border-radius: 16px !important;
  color: var(--main-color) !important;
}

/* ------------------------------------------ */


.card {
  padding: 32px !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 16px !important;
  background: rgba(255, 255, 255, 0.01) !important; 
  backdrop-filter: blur(60px); 
  flex-grow: 1 !important;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.card:hover {
  box-shadow: 8px 8px var(--main-color);
}

.dev-text {
  color: var(--main-color) !important;
}

img {
  width: 112px;
}

.circle {
  display: inline-block;
  width: 8px;
  height: 8px; 
  background-color: #56F706;
  border-radius: 50%;
}

.pill {
  width: fit-content;
  padding: 4px 12px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

.oval-blur {
  width: 70%;
  height: 60%;
  background-color: #171246;
  border-radius: 50%;
  filter: blur(200px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-reveal {
  filter: grayscale(100%) brightness(2);
  transition: filter 0.3s ease;
}

.color-reveal:hover {
  filter: none;
}

.incubator {
  width: 50% !important;
}

/* ------------------------------------------ */

/* Work Experience */
.work-experience p, .education p {
  color: white !important;
  font-size: 14px !important;
}
.work-experience span, .education span {
  color: var(--text) !important;
  font-size: 11px !important;
}


/* ------------------------------------------ */

/* FORM MODAL  */
.modal-content {
  border: 1px solid var(--border-color) !important;
  border-radius: 16px !important;
}

.modal-title {
  color: var(--main-color) !important;
}

/* ------------------------------------------ */

/* form */
form {
    padding: 0 !important;
    width: 100% !important;
  }
  .input-form {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 0 16px 0 !important;
    text-align: left !important;
  }
  
  .form-label {
    font-size: 14px !important;
    margin-bottom: 4px !important;
    font-weight: 400 !important;
    color: var(--main-color) !important;
  }
  
  .form-control:focus {
    border-color: var(--main-color) !important;
    outline: none !important;
  }
  
  .form-control {
    padding: 8px 8px !important;
    border: 1px solid #ddd !important;
    border-radius: 8px !important;
    width: 100%;
    font-size: 14px !important;
  }

  textarea {
    height: 200px !important;
  }
  

     /* PHONE MEDIA QUERY */
@media only screen and (max-width: 767px) {
  .main-content {
    padding: 5%;
  }
  .incubator {
    width: 100% !important;
  }
}    

/* TABLET AND IPAD QUERY */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-content {
    padding: 5%;
  }
  .incubator {
    width: 100% !important;
  }
}